 #fond-etoile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle at center, #5909a3, rgb(51, 50, 50));
    z-index: -1; 
}

.systeme-onglets {
    max-width: 1900px;
    width: 95%;        
    margin: 0 auto;       
}

.logo1 {
    height: 150px; 
    width: auto;
    border-left: 3px solid black;
    border-radius: 10px;
    margin-left: auto; 
}

.logo2 {
    height: 150px; 
    width: auto;
    border-right: 3px solid black;
    border-radius: 10px;
    margin-right: auto; 
    
}

.Titre i {
    margin: 40px 40px;   
    font-size: 60px;
    padding: 0px;
    
      
}

.Titre {
    display: flex;
    justify-content: center; 
    background: beige;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 10px;
    max-width: 1900px;
    width: 100%;             
    margin: 40px auto; 
    transition: 1s ease-in-out;
    border: 3px solid black;
    max-width: 1900px;
    width: 95%;        
    
}

.Titre:hover{
    background-color: grey;
    color: beige;
    transition: 1s ease;
}

.container {
    background:beige;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
}

body {
    font-family: Arial, sans-serif;
    margin: 50px;
    background-color: #f4f4f9;
}

.Fiche {
    
    background:white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    max-width: 400px;
    margin: auto;
}

.tech{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    margin-bottom: 40px;
    font-size: 50px;
    color: beige;
    
}

.contenu-onglet {
    display: none;
    padding: 15px;
    background: radial-gradient(circle at center, #8632d4, rgb(94, 91, 91));
    border: 4px solid gray;
    box-shadow: 0px 0px 3px 3px rgb(43, 43, 43);
    border-radius: 4px;
    
}

.container-global {
    display: flex;
    gap: 20px;
    padding: 20px;
    font-family: sans-serif;
}


.reserve-images h3 {
   color: beige;
}

.marqueur-draggable {
    width: 50px;
    height: 50px;
    cursor: grab;
    margin: 10px;
}

.Carto{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    margin-bottom: 40px;
    font-size: 50px;
    color: beige;
    
}

.zone-carte{
    position: relative;
    width: 600px; 
    height: 600px;
    border: 2px solid #333;
    overflow: hidden;
   
    
}

.reserve-images {
    margin-left: 470px;
    width: 200px;
    border: 2px dashed #ccc;
    padding: 10px;
    text-align: center;
}

.image-fond {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none; 
}


.zone-carte .marqueur-draggable {
    position: absolute;
    margin: 0;
    transform: translate(-50%, -50%); 
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}


.onglets-boutons {
    display: flex;
    border-bottom: 5px solid #ccc;
    margin-bottom: 15px;
}

.onglet-btn {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 16px;
    font-weight: bold;
    color: beige;
    transition: 0.2s;
    font-size: 20px;
}


.onglet-btn.actif {
    color: #dc3545; 
    border-bottom: 3px solid #dc3545;
}



   


